@font-face {
  font-family: 'timeless';
  src: url('fonts/timeless.woff2') format('woff2'),
       url('fonts/timeless.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html, body {
  height: 100%;
  background-color: #000000;
}

body {
  color: #FFFFFF;
  font-family: 'timeless';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.18;
  padding: 0;

  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

body.no-ui {
  touch-action: none;
}

a {
  color: #FFFFFF;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

canvas {
  display: block;
}

.no-ui canvas {
  touch-action: none;
}

.no-ui .container {
  display: none !important;
}

.uppercase {
  text-transform: uppercase;
}

.col-left {
  padding: 15px;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo, .links {
  margin-bottom: 25px;
}

.links a {
  text-decoration: none;
  margin-bottom: 2px;
}

.links a:last-child {
  margin-bottom: 0;
}

.more-info {
  display: none;
}

.more-info p:last-child {
  margin-bottom: 0;
}

.read-more {
  margin-top: 25px;
  text-decoration: underline;
  cursor: pointer;
}

.read-more:hover {
  text-decoration: none;
}

.col-right {
  background-color: #000000;
  margin-top: 25px;
}

.video-wrapper {
  position: relative;
  padding-bottom:50%;
  border-bottom: 1px solid #FFFFFF;
}

.video-wrapper video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.canvas-container {
  position: relative;
  padding-bottom:50%;
}

.canvas-title {
  color: #ffffff;
  opacity: .9;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 9;
}

.canvas-container canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media only screen and (min-width: 800px) {
  body {
    font-size: 21px;
    line-height: 1.15;
  }

  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }

  .col-left {
    width: 315px;
    padding: 20px;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }

  .col-left::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }

  .logo, .links {
    margin-bottom: 30px;
  }

  .links a {
    margin-bottom: 3px;
  }

  .links a:last-child {
    margin-bottom: 0;
  }

  .more-info {
    padding-bottom: 30px;
  }

  .read-more {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .col-right {
    width: 100%;
    margin-top: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-left: 1px solid #FFFFFF;
  }

  .video-wrapper, .canvas-container {
    width: 100%;
    height: 50%;
    padding-bottom: 0;
  }

  .canvas-title {
    top: 20px;
    left: 20px;
  }
}